* {
  margin: 0px;
  padding: 0px;
}
#header {
  background-image: url(./img/black-jack-casino.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 260px;
  background-repeat: no-repeat;
}
#header #nav-bar {
  display: flex;
  align-items: flex-end;
}
#header #nav-bar ul#nav-links {
  background: #670000;
  border-radius: 12px 0;
  padding: 3% 0%;
  display: flex;
  list-style: none;
}
.header-section{
  border-bottom: 5px solid lightblue;
}
.border-right li{
  padding: 2px 10px;
  border-right: 2px solid white;
}
.border-right li:last-child{
  border:none;
}
.nav-hover a{
  transition: 0.5s all ease;
}
.nav-hover a:hover {
  font-size: 18px;
}
#nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  background: silver;
  padding: 0 25px;
  margin-top: 5px;
  border-top: 5px solid lightblue;
  border-bottom: 5px solid lightblue;
}
.hero-text {
  background: #631d1d;
  border-radius: 10px 0px;
  padding: 5px 10px;
  margin:0px 285px;
  color: #fff;
  text-align: center;
}
#left-bar {
  background-image: url(./img/leftnavdown.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  font-size: 20px;
  line-height: 25px;
}
#left-bar li {
  list-style: none;
  box-shadow: 0px 20px 20px black;
  margin: 13px 0;
  padding: 0 16px;
  color:#fff;
}
#right-bar img {
  height: 760px;
}
.content-area {
  background-color: #fff;
  padding: 10px;
}
.content-area div {
  margin: 10px;
  text-align: center;
  font-size: 15px;
  padding: 15px;
}
.content-area img {
  width: 100%;
}
#footer-links{
  color: #ffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-bottom: 10px;
}
a{
  text-decoration: none;
  color: #fff;
}
footer {
  background: #000;
  padding: 25px 0;
  border-top: 5px solid lightskyblue;
  margin-top: 5px;
}
footer p {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}
